@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.swiper-button-prev,
.swiper-button-next {
  transform: translateY(-100%) !important;
  width: 55px !important;
  height: 55px !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(1px) !important;
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
  border-radius: 6px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: 600 !important;
  font-size: 40px  !important; 
  color: red !important;
}